<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style2.css">
    <title>Škola</title>
</head>

<body>
    <h1 class = "naslov">Dobrodošli na E-raspored!</h1>
    <div class="contain">
        <h1 class = "login-naslov">Login na stranicu</h1>
            <form action ="/adminlogin" method ="GET" class="form">
                <button type ="submit" id="btn">
                    Login kao admin
                </button>
            </form>
            <form action ="/skolalogin" method ="GET" class="form">
                <button type ="submit" id="btn">
                    Login kao skola
                </button>
            </form>
            </div>
        </form>
    </div>


    <script src="Public/script2.js"></script>
</body>

</html>