<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="icon" type="image/x-icon" href = "https://cdn-icons-png.flaticon.com/512/2345/2345338.png">
  <link rel="stylesheet" href="/style3.css">
  <title> Admin Pocetna </title>
  </head>
  <body>


  <!-- Sidebar  -->

  <div class="sidebar">
    <header>
      <div class="logo-text">
        <span class="slika">

          <img src="slike/logo.png" alt="logo">
        </span>

        <div class="header-text text">
          <span class="ime">Skedyul</span>
        </div>

      </div>
    </header>

    <div class="menu-bar">
      <div class="menu">
        <ul class="menu-links">

          <li class="nav-link">
            <a href="#sekcija1">
              <i class='bx bxs-home ikonice'></i>
              <span class="text nav-text">Home</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="#sekcija2">
              <i class='bx bxs-home ikonice'></i>
              <span class="text nav-text">Dodaj školu</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="#sekcija3">
              <i class='bx bxs-school ikonice'></i>
              <span class="text nav-text">Škola</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="#sekcija4">
              <i class='bx bxs-face ikonice'></i>
              <span class="text nav-text">Profesor</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="#sekcija5">
              <i class='bx bxs-book ikonice'></i>
              <span class="text nav-text">Norma</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="#sekcija6">
              <i class='bx bxs-book ikonice'></i>
              <span class="text nav-text">Predmet</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="#sekcija6">
              <i class='bx bxs-chalkboard ikonice'></i>
              <span class="text nav-text">Učionica</span>
            </a>
          </li>
          <h1></h1>
        </ul>
      </div>
    </div>

  </div>


  <!-- Sekcije  -->

  <section class="sve-sekcije prva-sekcija" id="sekcija1">
    <h1 class = "PrvaSekcijaHeader">Ulogovani ste kao korisnik: admin1</h1>
    <div style = "display: flex; flex-direction: row; justify-content: space-around;">
      <div class ="admin-informacije">
        <div style="margin-left: 50px; margin-top: 20px;">
          <h1><u>Šta je admin korisnik?</u></h1>
          <br>
          <p>Admin korisnik je korisnik sa privilegijama koje mu omogućuju da: </p>
          <ul>
            <li>Dodaje škole</li>
            <li>Dodaje osnovne informacije o toj školi</li>
            <li>Pregledava i briše te iste</li>
            <li>Modifikuje date podatke o nekoj školi</li>
          </ul>
          <br>
          <p>Kada admin kreira jednu školu, on ujedno kreira i login podatke za tu školu. Admin određuje
             username i password svake škole i tako ima na pregled te podatke kao i mogućnost da ih modifikuje</p>
        </div>
      </div>
      <div style="margin-left: 50px;" class ="admin-informacije">
        <div style="margin-left: 50px; margin-top: 20px;">
          <h1><u>Dokumentacija i uputstvo za korištenje stranice</u></h1>
          <br>
          <p>Admin korisnik je korisnik sa privilegijama koje mu omogućuju da: </p>
          <ul>
            <li>Dodaje škole</li>
            <li>Dodaje osnovne informacije o toj školi</li>
            <li>Pregledava i briše te iste</li>
            <li>Modifikuje date podatke o nekoj školi</li>
          </ul>
          <br>
          <p>Kada admin kreira jednu školu, on ujedno kreira i login podatke za tu školu. Admin određuje
             username i password svake škole i tako ima na pregled te podatke kao i mogućnost da ih modifikuje</p>
        </div>
      </div>
      <div style="margin-left: 50px;" class ="admin-informacije">
        <div style="margin-left: 50px; margin-top: 20px;">
          <h1><u>Kod stranice</u></h1>
          <br>
          <p>Admin korisnik je korisnik sa privilegijama koje mu omogućuju da: </p>
          <ul>
            <li>Dodaje škole</li>
            <li>Dodaje osnovne informacije o toj školi</li>
            <li>Pregledava i briše te iste</li>
            <li>Modifikuje date podatke o nekoj školi</li>
          </ul>
          <br>
          <p>Kada admin kreira jednu školu, on ujedno kreira i login podatke za tu školu. Admin određuje
             username i password svake škole i tako ima na pregled te podatke kao i mogućnost da ih modifikuje</p>
        </div>
      </div>
    </div>
  </section>
  
  <section class="sve-sekcije druga-sekcija" id="sekcija2">
    <h1 class = "DrugaSekcijaHeader">Dodajte školu</h1>
    <div class = "unos1">
      <h1 style = "margin-left: 200px; font-size: 40px; margin-top: 20px;">Unesite podatke škole za unos</h1>
      <div class = "uflex1">
        <div>
          <h1>Unesite ID škole: </h1>
          <input class = "inputi">
          <h1>Unesite naziv škole: </h1>
          <input class = "inputi">
        </div>
        <div class="crta2"></div>
        <div>
          <h1>Unesite grad škole: </h1>
          <input class = "inputi">
          <h1>Unesite adresu škole: </h1>
          <input class = "inputi">
        </div>
        <div class="crta2"></div>
        <div>
          <h1>Unesite broj kabineta: </h1>
          <input class = "inputi">
          <h1>Unesite broj profesora: </h1>
          <input class = "inputi">
        </div>
      </div>
      <button class = "Dodaj2">
        Dodaj
      </button>
      </div>
  </section>
  
  <section class="sve-sekcije treca-sekcija" id="sekcija3">
    <h1 class = "TrecaSekcijaHeader">Dodane škole</h1>
    <div class ="dodane-skole">
        <h1 style = "margin-top: 10px;">Naziv: MSTS Travnik</h1>
        <div class = "crta"></div>
        <h1 style = "margin-top: 10px;">Lokacija: Travnik</h1>
        <div class = "crta"></div>
        <h1 style = "margin-top: 10px;">Broj kabineta: 27</h1>
        <div class = "crta"></div>
        <h1 style = "margin-top: 10px;">Broj profesora: 56</h1>
        <div class = "crta"></div>
        <button class = "Više" id = "dugmeTravnik">Više</button>
        <div class = "crta"></div>
        <button class = "Ukloni">Ukloni</button>
    </div>
    <div style = "margin-top: 10px;" class ="dodane-skole">
      <h1 style = "margin-top: 10px;">Naziv: MSS Travnik</h1>
      <div class = "crta"></div>
      <h1 style = "margin-top: 10px;">Lokacija: Travnik</h1>
      <div class = "crta"></div>
      <h1 style = "margin-top: 10px;">Broj kabineta: 32</h1>
      <div class = "crta"></div>
      <h1 style = "margin-top: 10px;">Broj profesora: 52</h1>
      <div class = "crta"></div>
      <button class = "Više">Više</button>
      <div class = "crta"></div>
      <button class = "Ukloni">Ukloni</button>
  </div>
  <div style = "margin-top: 10px;" class ="dodane-skole">
    <h1 style = "margin-top: 10px;">Naziv: MSS Donji Vakuf</h1>
    <div class = "crta"></div>
    <h1 style = "margin-top: 10px;">Lokacija: Donji Vakuf</h1>
    <div class = "crta"></div>
    <h1 style = "margin-top: 10px;">Broj kabineta: 18</h1>
    <div class = "crta"></div>
    <h1 style = "margin-top: 10px;">Broj profesora: 38</h1>
    <div class = "crta"></div>
    <button class = "Više">Više</button>
    <div class = "crta"></div>
    <button class = "Ukloni">Ukloni</button>
</div>

<!--DODATNA SEKCIJA ZA MSTS TRAVNIK-->
<div class = "vise-skola" id = "viseTravnik" class = "admin-informacije">
  <div style = "margin-left: 20px;">
    <div style ="display: flex; justify-content: row";>
        <div>
          <h1 style = "margin-top: 20px;"><u>Više o školi: <i>MSTS Travnik</i></u></h1>
          <h3 style ="margin-top: 20px;"><u>Broj profesora</u></h3>
          <ul><li>56</li></ul>
          <h3 style ="margin-top: 20px;"><u>Lokacija</u></h3>
          <ul><li>Travnik</li></ul>
          <h3 style ="margin-top: 20px;"><u>Skola-username</u></h3>
          <ul><li>mststravnik</li></ul>
          <h3 style ="margin-top: 20px;"><u>Skola-password</u></h3>
          <ul><li>mststravnik123</li></ul>
        </div>
        <div style="margin-top: 50px;">
          <h3 style ="margin-top: 20px;"><u>Broj kabineta</u></h3>
          <ul><li>32</li></ul>
          <h3 style ="margin-top: 20px;"><u>Skola-ID</u></h3>
          <ul><li>1</li></ul>
          <h3 style ="margin-top: 20px;"><u>Datum kreiranja</u></h3>
          <ul><li>18.01.2023</li></ul>
        </div>
      </div>
    <div class = "vise-skole-dugmadi">
      <button class = "Više" id = "zatvoriTravnik">Zatvori</button>
      <button style = "background-color: green;" class = "Više">Izmijeni</button>
      <button class = "Ukloni">Ukloni</button>
    </div>
</div>
</div>

<!--DODATNA SEKCIJA ZA MSS TRAVNIK-->
<div class = "vise-skola" id = "viseTravnik1" class = "admin-informacije">
  <div style = "margin-left: 20px;">
    <div style ="display: flex; justify-content: row";>
        <div>
          <h1 style = "margin-top: 20px;"><u>Više o školi: <i>MSTS Travnik</i></u></h1>
          <h3 style ="margin-top: 20px;"><u>Broj profesora</u></h3>
          <ul><li>56</li></ul>
          <h3 style ="margin-top: 20px;"><u>Lokacija</u></h3>
          <ul><li>Travnik</li></ul>
          <h3 style ="margin-top: 20px;"><u>Skola-username</u></h3>
          <ul><li>mststravnik</li></ul>
          <h3 style ="margin-top: 20px;"><u>Skola-password</u></h3>
          <ul><li>mststravnik123</li></ul>
        </div>
        <div style="margin-top: 50px;">
          <h3 style ="margin-top: 20px;"><u>Broj kabineta</u></h3>
          <ul><li>32</li></ul>
          <h3 style ="margin-top: 20px;"><u>Skola-ID</u></h3>
          <ul><li>1</li></ul>
          <h3 style ="margin-top: 20px;"><u>Datum kreiranja</u></h3>
          <ul><li>18.01.2023</li></ul>
        </div>
      </div>
    <div class = "vise-skole-dugmadi">
      <button class = "Više" id = "zatvoriTravnik1">Zatvori</button>
      <button style = "background-color: green;" class = "Više">Izmijeni</button>
      <button class = "Ukloni">Ukloni</button>
    </div>
</div>
</div>

<!--DODATNA SEKCIJA ZA MSS DVAKUF-->
<div class = "vise-skola" id = "viseVakuf" class = "admin-informacije">
  <div style = "margin-left: 20px;">
    <div style ="display: flex; justify-content: row";>
        <div>
          <h1 style = "margin-top: 20px;"><u>Više o školi: <i>MSTS Travnik</i></u></h1>
          <h3 style ="margin-top: 20px;"><u>Broj profesora</u></h3>
          <ul><li>56</li></ul>
          <h3 style ="margin-top: 20px;"><u>Lokacija</u></h3>
          <ul><li>Travnik</li></ul>
          <h3 style ="margin-top: 20px;"><u>Skola-username</u></h3>
          <ul><li>mststravnik</li></ul>
          <h3 style ="margin-top: 20px;"><u>Skola-password</u></h3>
          <ul><li>mststravnik123</li></ul>
        </div>
        <div style="margin-top: 50px;">
          <h3 style ="margin-top: 20px;"><u>Broj kabineta</u></h3>
          <ul><li>32</li></ul>
          <h3 style ="margin-top: 20px;"><u>Skola-ID</u></h3>
          <ul><li>1</li></ul>
          <h3 style ="margin-top: 20px;"><u>Datum kreiranja</u></h3>
          <ul><li>18.01.2023</li></ul>
        </div>
      </div>
    <div class = "vise-skole-dugmadi">
      <button class = "Više" id = "zatvoriVakuf">Zatvori</button>
      <button style = "background-color: green;" class = "Više">Izmijeni</button>
      <button class = "Ukloni">Ukloni</button>
    </div>
</div>
</div>
  </section>

  <section class="sve-sekcije cetvrta-sekcija" id="sekcija4">
    <div></div>
    <h1 class = "TrecaSekcijaHeader"><u>Dodaj profesora</u></h1>
    <div class = "flex2">
      <div class = "unos2">
        <h1 style = "margin-top: 20px; margin-left: 50px;"><u>Unesite podatke profesora</u></h1>
        <div class = "uflex2">
          <h3>Unesite ID profesora: </h3>
          <input class = "inputi">
          <h3>Unesite naziv profesora: </h3>
          <input class = "inputi">
          <h3>Unesite časova u normi profesora: </h3>
          <input class = "inputi">
          <br>
          <button class = "Dodaj">
            Dodaj
          </button>
        </div>
      </div>
      <div class ="linija"></div>
      <div class = "Uneseno">
        <h2 style = "  
        color:#f1f1f1;
        margin-left: 70px;
        font-size: 40px;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;"><u>Uneseni profesori</u></h2>
        <div class = "dodani-profesori">
          <h1 style = "margin-top: 10px;">ID: 1</h1>
          <div class = "crta"></div>
          <h1 style = "margin-top: 10px;">Naziv: Mujo Mujic</h1>
          <div class = "crta"></div>
          <h1 style = "margin-top: 10px;">Broj časova u normi: 18</h1>
          <div class = "crta"></div>
          <button class = "Ukloni">Ukloni</button>
        </div>
        <div style ="margin-top: 10px;" class = "dodani-profesori">
          <h1 style = "margin-top: 10px;">ID: 2</h1>
          <div class = "crta"></div>
          <h1 style = "margin-top: 10px;">Naziv: Suljo Suljic</h1>
          <div class = "crta"></div>
          <h1 style = "margin-top: 10px;">Broj časova u normi: 25</h1>
          <div class = "crta"></div>
          <button class = "Ukloni">Ukloni</button>
        </div>
        <div style ="margin-top: 10px;" class = "dodani-profesori">
          <h1 style = "margin-top: 10px;">ID: 2</h1>
          <div class = "crta"></div>
          <h1 style = "margin-top: 10px;">Naziv: Haso Hasic</h1>
          <div class = "crta"></div>
          <h1 style = "margin-top: 10px;">Broj časova u normi: 35</h1>
          <div class = "crta"></div>
          <button class = "Ukloni">Ukloni</button>
        </div>
      </div>
    </div>
  </section>

  <section class="sve-sekcije peta-sekcija" id="sekcija5">
    
  </section>

  <section class="sve-sekcije sesta-sekcija" id="sekcija6">
    <footer>
      <div class="kontakt-text">
        <h1>Kontakt</h1>
      </div>

      <form class="kontakt-forma">

        <div class="lijeva-kolona">
          <input type="text" name="ime-prezime" placeholder="Ime i prezime">
          
          <input type="email" name="email" placeholder="Email">
      
          <input type="text" name="subject" placeholder="Predmet">
        </div>

        <div class="desna-kolona">
          <textarea name="message" placeholder="Poruka"></textarea>
              
          <button class="btn-posalji">Pošalji</button>
        </div>

      </form>

    </footer>
  </section>
  <script src ="/script1.js"></script>
</body>
</html>