<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <link rel="stylesheet" href="/style3.css">

  <title> Admin Pocetna </title>

</head>
<body>

  <nav>
    <center>
      <!-- <img src="slike/logo1.png" alt="main_logo" class="logo" onclick="document.getElementById('sekcija1').scrollIntoView()"> -->



      <!-- <div class="container nav-underline"></div> -->
    </center>
    
  </nav>

  <!-- Sidebar  -->

  <div class="sidebar">
    <header>
      <div class="logo-text">
        <span class="slika">

          <img src="slike/logo.png" alt="logo">
        </span>

        <div class="header-text text">
          <span class="ime">Skedyul</span>
        </div>

      </div>
    </header>

    <div class="menu-bar">
      <div class="menu">
        <ul class="menu-links">

          <li class="nav-link">
            <a href="#sekcija1">
              <i class='bx bxs-home ikonice'></i>
              <span class="text nav-text">Home</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="#sekcija2">
              <i class='bx bxs-home ikonice'></i>
              <span class="text nav-text">Dodaj školu</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="#sekcija3">
              <i class='bx bxs-school ikonice'></i>
              <span class="text nav-text">Škola</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="#sekcija4">
              <i class='bx bxs-face ikonice'></i>
              <span class="text nav-text">Profesor</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="#sekcija5">
              <i class='bx bxs-book ikonice'></i>
              <span class="text nav-text">Norma</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="#sekcija6">
              <i class='bx bxs-book ikonice'></i>
              <span class="text nav-text">Predmet</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="#sekcija6">
              <i class='bx bxs-chalkboard ikonice'></i>
              <span class="text nav-text">Učionica</span>
            </a>
          </li>
          <h1></h1>
        </ul>
      </div>
    </div>

  </div>


  <!-- Sekcije  -->

  <section class="sve-sekcije prva-sekcija" id="sekcija1">
    <h1 class = "PrvaSekcijaHeader">Ulogovani ste kao korisnik: admin1</h1>
    <div class ="admin-informacije">
      <div style="margin-left: 50px;">
        <h1><u>Šta je admin korisnik</u></h1>
        <br>
        <p>Admin korisnik je korisnik sa privilegijama koje mu omogućuju da: </p>
        <ul>
          <li>Dodaje škole</li>
          <li>Dodaje osnovne informacije o toj školi</li>
          <li>Pregledava i briše te iste</li>
          <li>Modifikuje date podatke o nekoj školi</li>
        </ul>
        <br>
        <p>Kada admin kreira jednu školu, on ujedno kreira i login podatke za tu školu. Admin određuje
           username i password svake škole i tako ima na pregled te podatke kao i mogućnost da ih modifikuje</p>
      </div>
    </div>
  </section>
  
  <section class="sve-sekcije druga-sekcija" id="sekcija2">
    <h1 class = "DrugaSekcijaHeader">Dodajte školu</h1>
    <div class = "unos1">
      <h1 style = "margin-left: 200px; font-size: 40px; margin-top: 20px;">Unesite podatke škole za unos</h1>
      <div class = "uflex1">
        <div>
          <h1>Unesite ID škole: </h1>
          <input class = "inputi">
          <h1>Unesite naziv škole: </h1>
          <input class = "inputi">
        </div>
        <div class="crta2"></div>
        <div>
          <h1>Unesite grad škole: </h1>
          <input class = "inputi">
          <h1>Unesite adresu škole: </h1>
          <input class = "inputi">
        </div>
        <div class="crta2"></div>
        <div>
          <h1>Unesite broj kabineta: </h1>
          <input class = "inputi">
          <h1>Unesite broj profesora: </h1>
          <input class = "inputi">
        </div>
      </div>
      <button class = "Dodaj2">
        Dodaj
      </button>
      </div>
  </section>
  
  <section class="sve-sekcije treca-sekcija" id="sekcija3">
    <h1 class = "TrecaSekcijaHeader">Dodane škole</h1>
    <div class ="dodane-skole">
        <h1 style = "margin-top: 25px;">Naziv: MSTS Travnik</h1>
        <div class = "crta"></div>
        <h1 style = "margin-top: 25px;">Lokacija: Travnik</h1>
        <div class = "crta"></div>
        <h1 style = "margin-top: 25px;">Broj kabineta: 27</h1>
        <div class = "crta"></div>
        <h1 style = "margin-top: 25px;">Broj profesora: 56</h1>
    </div>
    <div style = "margin-top: 20px;" class ="dodane-skole">
      <h1 style = "margin-top: 25px;">Naziv: MSS Travnik</h1>
      <div class = "crta"></div>
      <h1 style = "margin-top: 25px;">Lokacija: Travnik</h1>
      <div class = "crta"></div>
      <h1 style = "margin-top: 25px;">Broj kabineta: 32</h1>
      <div class = "crta"></div>
      <h1 style = "margin-top: 25px;">Broj profesora: 52</h1>
  </div>
  <div style = "margin-top: 20px;" class ="dodane-skole">
    <h1 style = "margin-top: 25px;">Naziv: MSS Donji Vakuf</h1>
    <div class = "crta"></div>
    <h1 style = "margin-top: 25px;">Lokacija: Donji Vakuf</h1>
    <div class = "crta"></div>
    <h1 style = "margin-top: 25px;">Broj kabineta: 18</h1>
    <div class = "crta"></div>
    <h1 style = "margin-top: 25px;">Broj profesora: 38</h1>
</div>
  </section>

  <section class="sve-sekcije cetvrta-sekcija" id="sekcija4">
    <h1 class = "TrecaSekcijaHeader">Dodaj profesore</h1>
    <div class = "flex2">
      <div class = "unos2">
        <h1>Unesite ID profesora: </h1>
        <input class = "inputi">
        <h1>Unesite ime profesora: </h1>
        <input class = "inputi">
        <h1>Unesite broj lične profesora: </h1>
        <input class = "inputi">
        <button class = "Dodaj">
          Dodaj
        </button>
      </div>
      <div class ="linija"></div>
      <div class = "Uneseno">
        <h2 style = "  
        color:#f1f1f1;
        margin-left: 70px;
        font-size: 30px;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;"
        >Uneseni profesori</h2>
      </div>
    </div>
  </section>

  <section class="sve-sekcije peta-sekcija" id="sekcija5">
    
  </section>

  <section class="sve-sekcije sesta-sekcija" id="sekcija6">
    <footer>
      <div class="kontakt-text">
        <h1>Kontakt</h1>
      </div>

      <form class="kontakt-forma">

        <div class="lijeva-kolona">
          <input type="text" name="ime-prezime" placeholder="Ime i prezime">
          
          <input type="email" name="email" placeholder="Email">
      
          <input type="text" name="subject" placeholder="Predmet">
        </div>

        <div class="desna-kolona">
          <textarea name="message" placeholder="Poruka"></textarea>
              
          <button class="btn-posalji">Pošalji</button>
        </div>

      </form>

    </footer>
  </section>

  <script src="/script1.js"></script>

</body>
</html>