<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style2.css">
    <title>Škola</title>
</head>

<body>
    <div class="contain">
        <form class="form" action="/skolalogin" method="POST">
            <h1>Škola Login</h1>
            <div class="fields">
                <div class="ime">
                    <p>Unesi naziv škole:</p>
                    <input type="text" id="susername" name = "susername" placeholder="Naziv">
                </div>
                <div class="prezime">
                    <p>Unesi password škole:</p>
                    <input type="text" id="spassword" name = "spassword" placeholder="Grad">
                </div>
                <button type = "submit" id="btn">Login</button>
            </div>
        </form>
    </div>


    <script src="Public/script2.js"></script>
</body>

</html>